@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import 'themes/light';
@import 'themes/dark';
@import 'components/button';
@import 'components/card';
@import 'components/dropdown';

body {
    @apply .text-default;
}

.section {
    @apply .px-8;
}

.fixed-header{
    table-layout: fixed;
    border-collapse: collapse;
}

.fixed-header tbody{
    display:block;
    width: 100%;
    overflow: auto;
    height: 200px;
}

.fixed-header thead tr {
    display: block;
}
